 .footer{

    
     margin-top: 0%;
    font-family: 'Algerian';
    background-color: pink;
    overflow:hidden ;
    margin-bottom:0%;
    text-align: center;
    white-space: nowrap;
    
    
} 


