.head{
    font-family: 'Algerian';
    background-color: antiquewhite;
    color:blue;
    margin-top: 0%;
    padding-top:15px;
    padding-left:35%;
    padding-bottom: 15px;
    margin-bottom: 0%;
    overflow: hidden;

}